@{
    ViewBag.Title = "TM Home ";
}

<div class="jumbotron">
    <h1>TaskMaster</h1>
    <p class="lead">TaskMaster is a free web and mobile application for measuring time of daily tasks.</p>
    <p><a href="http://kpz.pwr.edu.pl/projekty-zgloszone-firmy/" class="btn btn-primary btn-lg">See more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Mobile</h2>
        <p>
            On mobile app, we will be able to measure time of tasks at any time and check basic statistics.
        </p>
        <!--  <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p> -->
    </div>
    <div class="col-md-4">
        <h2>Web</h2>
        <p>The mobile website stores all our statistics and allows you to edit them.</p>
        <!--   <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p> -->
    </div>
    <div class="col-md-4">
        <h2>Developers</h2>
        <p>
            Frontend   Martyna Łagożna <br />
            Backend    Bartosz Kalinka <br />
            Web.api    Paweł   Kolak <br />
            DataBase   Norber  Lechki <br />
            Mobile app Piotr   Barszcz <br />
            Patryk  Maj
        </p>
        <!--  <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p> -->
    </div>
</div>