@ViewBag.MyList 
@{
    Layout = null;
    //ViewBag.MyList = myList;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
  
</head>
<body>
<div>
    @foreach (var item in ViewBag.MyList)
           {
               <span>@item.Name.ToString()</span>
               <span>@item.Email.ToString()</span>
               <br/>
             }
    
</div>
</body>
</html>
