
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row quickFixMargin">
    <div class="col-md-2 arrow arrowFloatRight">
         <img src="../../images/arrowLeft.png"/>
    </div>
  
    <div class="col-md-8 ">
        <h4 class="month">czerwiec</h4>
        <div>
            <table class="callendarTable">
                <tr>
                    <th>poniedziałek</th>
                    <th>wtorek</th>
                    <th>środa</th>
                    <th>czwartek</th>
                    <th>piątek</th>
                    <th>sobota</th>
                    <th>niedziela</th>
                </tr>
                <tr>
                    <td>
                        <div class="cell">12
                            <div class="activityCircle"><img src="../../images/eat.png"/></div>
                            <div class="activityCircle"><img src="../../images/eat.png"/></div>
                            <div class="activityCircle"><img src="../../images/eat.png"/></div>
                            <div class="activityCircle"><img src="../../images/eat.png"/></div>
                            <div class="activityCircle"><img src="../../images/eat.png"/></div>
                            <div class="activityCircle"><img src="../../images/eat.png"/></div>
                            <div class="activityCircle"><img src="../../images/eat.png"/></div>
                        </div></td>
                    <td>
                        <div class="cell">12</div></td>
                    <td>
                        <div class="cell">12</div></td>
                    <td>
                        <div class="cell">12</div></td>
                    <td>
                        <div class="cell">12</div></td>
                    <td>
                        <div class="cell">12</div></td>
                    <td>
                        <div class="cell">12</div></td>
                </tr>
                <tr>
                    <td>
                        <div class="cell">12</div></td>
                    <td>
                        <div class="cell">12
                            <div class="activityCircle"><img src="../../images/eat.png"/></div>
                            <div class="activityCircle"><img src="../../images/eat.png"/></div>
                        </div></td>
                    <td>
                        <div class="cell">12</div></td>
                    <td>
                        <div class="cell">12</div></td>
                    <td>
                        <div class="cell">12</div></td>
                    <td>
                        <div class="cell">12</div></td>
                    <td>
                        <div class="cell">12</div></td>
                </tr>
                <tr>
                    <td>
                        <div class="cell">12</div></td>
                    <td>
                        <div class="cell">12</div></td>
                    <td>
                        <div class="cell">12</div></td>
                    <td>
                        <div class="cell">12</div></td>
                    <td>
                        <div class="cell">12</div></td>
                    <td>
                        <div class="cell">12</div></td>
                    <td>
                        <div class="cell">12</div></td>
                </tr>
                <tr>
                    <td>
                        <div class="cell">12</div></td>
                    <td>
                        <div class="cell">12</div></td>
                    <td>
                        <div class="cell">12</div></td>
                    <td>
                        <div class="cell">12</div></td>
                    <td>
                        <div class="cell">12</div></td>
                    <td>
                        <div class="cell">12</div></td>
                    <td>
                        <div class="cell">12</div></td>
                </tr>
                <tr>
                    <td>
                        <div class="cell">12</div></td>
                    <td>
                        <div class="cell">12</div></td>
                    <td>
                        <div class="cell">12</div></td>
                    <td>
                        <div class="cell">12</div></td>
                    <td>
                        <div class="cell">12</div></td>
                    <td>
                        <div class="cell">12</div></td>
                    <td>
                        <div class="cell">12</div></td>
                </tr>
            </table>
        </div>

    </div>
    <div class="col-md-1 arrow">
        <img src="../../images/arrowRight.png"/>
    </div>
</div>