
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
 
}


<!DOCTYPE html>

<html>
<head>
    <title>title</title>
    <link rel="stylesheet" href="../../Content/circleDiagram.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
</head>
<body>
<div>
    <div class="col-md-3 col-md-offset-1">
        <h4 id="monthName"></h4>
        <canvas id="pieChart" height="400" width="400"></canvas>
    </div>

    <div class="col-md-6 col-md-offset-1">
        <h4 id="yearActivity"></h4>
        <canvas id="barChart"></canvas>
    </div>

    

</div>
</body>
</html>

<script>
    var chart = document.getElementById("pieChart");
    Chart.defaults.scale.ticks.beginAtZero = true;

 
    
    var date = new Date();
    var months = [
        'Styczniu', 'Lutym', 'Marcu', 'Kwietniu', 'Maju', 'Czerwcu', 'Lipcu', 'Sierpniu', 'Wrześniu', 'Pazdzierniku',
        'Listopadzie', 'Grudniu'
    ];
    var month = date.getMonth();
    var monthPolish = months[month];

    document.getElementById("monthName").innerHTML = "Twoje aktywności w ostatnich 30 dniach";

    var listOfNames = [];
    var listOfValues = [];

   
  

    function fillListOfNamesAndTheirValues() {
        var array = @Html.Raw(Json.Encode(@ViewBag.mod));

        for (var i = 0; i < array.length; i++) { 

            listOfNames[i] = array[i].name; 
            listOfValues[i] = array[i].totalDur;


        }
    }

    fillListOfNamesAndTheirValues();
   
    var lineChart = new Chart(chart,
        {
            type: 'pie',
            data: {
                labels: listOfNames,
                datasets: [
                    {
                        label: 'Points',
                        backgroundColor: ['#f39c12', '#3498db', '#e74c3c', '#00bc8c', '#f35611', '#349855', '#e34c3c', '#008f8c'],
                        data: listOfValues
                    }
                ]
            },
            options: {               
                legend: {
                    labels : {
                        fontColor : '#ffffff',                      

                    }
               }
            }
        });
</script>

<script>
    var chart = document.getElementById("barChart");
    Chart.defaults.scale.ticks.beginAtZero = true;
    var date = new Date();
    var year = date.getFullYear();
    var month = date.getMonth();
    document.getElementById("yearActivity").innerHTML = "Łączny czas twojej pracy w ostatnim roku";
    var months = [
        'Styczeń', 'Luty', 'Marzec', 'Kwiecien', 'Maj', 'Czerwiec', 'Lipiec', 'Sierpien', 'Wrzesien', 'Pazdziernik',
        'Listopad', 'Grudzien'
    ];

    var array2 = @Html.Raw(Json.Encode(@ViewBag.tab));

    var valuesInEveryMonth = []; //kazdy index to kolejny miesiac
    function fillValues() {
        for (var i = 0; i < 12; i++) {
            valuesInEveryMonth[i] = array2[i];
        }
    }

    var sortedMonths = [];
    var sortedValuesInEveryMonths = [];
    for (var i = month+1; i <= 12; i++) {
        if (i == 12)
            i = 0;

        sortedMonths.push(months[i]);
        sortedValuesInEveryMonths.push(array2[i]);
        
        if (sortedMonths.length == 12)
            break;
    }

    fillValues();

    var barChart = new Chart(chart,
        {
            type: 'bar',
            data: {
                labels: sortedMonths,
                datasets: [
                    {
                        label: '',
                        backgroundColor: [
                            '#f39c12', '#3498db', '#e74c3c', '#00bc8c', '#f35611', '#349855', '#e34c3c', '#008f8c',
                            '#f39c12', '#349855', '#e34c3c', '#008f8c'
                        ],
                        data: sortedValuesInEveryMonths,

                    }
                ]
            },
            options: {
                legend: {
                    display: false                    
                },
                
                tooltips: {
                    callbacks: {
                        label: function(tooltipItem) {
                            return tooltipItem.yLabel;
                        }
                    }
                },
                scales: {
                    xAxes:[{
                        fontColor:"rgba(255,255,255,0.5)",
                        gridLines:{
                            color:"rgba(255,255,255,0.5)",
                            zeroLineColor:"rgba(255,255,255,0.5)"
                        }, ticks: {
                            fontColor: "#FFF"
                        }
                    }],
                    yAxes:[{
                        gridLines:{
                            color:"rgba(255,255,255,0.5)",
                            zeroLineColor:"rgba(255,255,255,0.5)"
                        }, ticks: {
                            fontColor: "#FFF"
                        }
                    }]
                }
            }
        });
</script>