
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <title>title</title>
    <link rel="stylesheet" href="../../Content/circleDiagram.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
</head>
<body>
<div>
    <div class="col-md-3">
        <h4 id="monthName"></h4>
        <canvas id="pieChart" height="400" width="400">

        </canvas>
    </div>
</div>
</body>
</html>

<script>
    var chart = document.getElementById("pieChart");
    Chart.defaults.scale.ticks.beginAtZero = true;

    var numberOfDifferentActivities;
    function getActivitiesNumber() {
        return 5; //tu trzeba z bazy
    }

    numberOfDifferentActivities = getActivitiesNumber();
    
    var date = new Date();
    var months = [
        'Styczniu', 'Lutym', 'Marcu', 'Kwietniu', 'Maju', 'Czerwcu', 'Lipcu', 'Sierpniu', 'Wrześniu', 'Pazdzierniku',
        'Listopadzie', 'Grudniu'
    ];
    var month = date.getMonth();
    var monthPolish = months[month];

    document.getElementById("monthName").innerHTML = "Twoje aktywności w " + monthPolish;

    var listOfNames = [];
    var listOfValues = [];
    function fillListOfNamesAndTheirValues() {
        for (var i = 0; i < numberOfDifferentActivities; i++) {
            var name = "aktywnosc"; //tu z bazy
            listOfNames.push(name);
            var value = "20"; //tu tez z bazy
            listOfValues.push(value);
            
        }
    }

    fillListOfNamesAndTheirValues();
   
    var lineChart = new Chart(chart,
        {
            type: 'pie',
            data: {
                labels: listOfNames,
                datasets: [
                    {
                        label: 'Points',
                        backgroundColor: ['#f39c12', '#3498db', '#e74c3c', '#00bc8c', '#f35611', '#349855', '#e34c3c', '#008f8c'],
                        data: listOfValues
                    }
                ]
            }
        });
</script>