@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right" style="padding-right: 40px;">
            <li>
                @Html.ActionLink("Witaj " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Wyloguj</a></li>
        </ul>
    }
}
else
{
    //tu trzeba imie dopisac cyz tam maila
    @*<ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Witaj", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>   
        
    </ul>*@
}
