@using TaskMaster.BLL.WebModels;
@using TaskMaster.BLL.WebServices;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    WebMainService alfa = new WebMainService();
}



<div class="col-md-3 quickFixMargin ">
    <div class="lastActivities">
        <h4>Ostatni miesiąc</h4>
        @foreach (var p in alfa.ShowActivity("dlanorberta@gmail.com"))
        {
            <div class="singleActivity">
                <div class="singleActivityContent"><img src="../../images/sport.png"/>
                </div>
                <div class="singleActivityContent">
                    <p>@p.Name</p>
                </div>
                <div class="singleActivityContent">
                    <p>@p.Time.ToString()</p>
                </div>
                <div class="clear"></div>
            </div>
        }




        <div class="singleActivity">
            <div class="singleActivityContent"><img src="../../images/sport.png"/>
            </div>
            <div class="singleActivityContent">
                <p>bieganie</p>
            </div>
            <div class="singleActivityContent">
                <p>2:40:21</p>
            </div>
            <div class="clear"></div>
        </div>
        <div class="singleActivity">
            <div class="singleActivityContent"><img src="../../images/programming.png"/>
            </div>
            <div class="singleActivityContent">
                <p>programowanie</p>
            </div>
            <div class="singleActivityContent">
                <p>1:20:00</p>
            </div>
            <div class="clear"></div>
        </div>
        <div class="singleActivity">
            <div class="singleActivityContent"><img src="../../images/Cafe.png"/>
            </div>
            <div class="singleActivityContent">
                <p>Picie kawy</p>
            </div>
            <div class="singleActivityContent">
                <p>2:30:15</p>
            </div>
            <div class="clear"></div>
        </div>
        <div class="singleActivity">
            <div class="singleActivityContent"><img src="../../images/art.png"/>
            </div>
            <div class="singleActivityContent">
                <p>Pisanie książki</p>
            </div>
            <div class="singleActivityContent">
                <p>4:02:30</p>
            </div>
            <div class="clear"></div>
        </div>
        <div class="singleActivity">
            <div class="singleActivityContent"><img src="../../images/OK.png"/>
            </div>
            <div class="singleActivityContent">
                <p>Drzemka</p>
            </div>
            <div class="singleActivityContent">
                <p>2:00:10</p>
            </div>
            <div class="clear"></div>
        </div>
    </div>

    <div class="lastActivities">
        <h4>Najdłużej wykonywane</h4>
        <div class="singleActivity">
            <div class="singleActivityContent"><img src="../../images/programming.png" /></div>
            <div class="singleActivityContent"><p>programowanie</p> </div>
            <div class="singleActivityContent"><p>10:40:21</p></div>
            <div class="clear"></div>
        </div>
        <div class="singleActivity">
            <div class="singleActivityContent"><img src="../../images/sport.png" /></div>
            <div class="singleActivityContent"><p>bieganie</p> </div>
            <div class="singleActivityContent"><p>2:40:21</p></div>
            <div class="clear"></div>
        </div>
    </div>
    <div>
        <button type="button" class="btn btn-info">Zobacz wszystkie statystyki</button>
    </div>
</div>
<div class="col-md-8 quickFixMargin ">
    <h3>Ostatni miesiąc</h3>
    @foreach (var p in alfa.ShowActivity("dlanorberta@gmail.com"))
    {
        <div>
            <p>@p.Name</p>
        </div>
        <div class="progress">
            <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow=@p.Time.ToString() aria-valuemin="0" aria-valuemax="100" style="width: @p.Percent">
                <span class="sr-only">40% Complete (success)</span>
            </div>
        </div>
    }
    <div>
        <p>programowanie</p>
    </div>
    <div class="progress">
        <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
            <span class="sr-only">40% Complete (success)</span>
        </div>
    </div>
    <div>
        <p>bieganie</p>
    </div>
    <div class="progress">
        <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
            <span class="sr-only">20% Complete</span>
        </div>
    </div>
    <div>
        <p>pisanie książki</p>
    </div>
    <div class="progress">
        <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
            <span class="sr-only">60% Complete (warning)</span>
        </div>
    </div>
    <div>
        <p>picie kawy</p>
    </div>
    <div class="progress">
        <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
            <span class="sr-only">60% Complete (warning)</span>
        </div>
    </div>
    <div>
        <p>drzemka</p>
    </div>
    <div class="progress">
        <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
            <span class="sr-only">60% Complete (warning)</span>
        </div>
    </div>



</div>
