body {
    font-family: 'Quicksand', sans-serif;
    height:100%;
    
}

.body-content {
    margin-top: 80px;
}

.navbar {    
    padding-bottom: 10px;
    padding-top:10px; 
}

.navbar img {
    width: 150px;
    position: absolute;
    margin-top: -25px;
    
}

.navbar-right {
    font-size: 14px;  
}

.navbar-brand {
    width: 200px;
}

.lastActivities {
    /*background-color: rgba(55, 90, 127, 0.4);*/
    background-color: rgb(45, 80, 110);
    padding: 10px 20px 20px 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.lastActivities h4 {
    text-align: center;
    margin-bottom: 20px;
}

.singleActivity img {
    width: 25px;
    margin-right: 20px;
}

.singleActivityContent {
    float: left;
    margin-right: 10px;
}

.singleActivityContent:nth-of-type(3) {
    float: right;
}

.clear {
    clear: both;
}

h3 {
    margin-top: 16px;
}

.btn {
    width: 100%;
}

table {
    width: 100%;
}

table img {
    width: 20px;
}

.activityDetails:hover {
    background-color: #375a7f;
    cursor: pointer;
}


