body {
    font-family: 'Quicksand', sans-serif;
    height:100%;
}

.body-content {
    margin-top: 80px;
}

.navbar {    
    padding-bottom: 10px;
    padding-top:10px; 
}

.navbar img {
    width: 150px;
    position: absolute;
    margin-top: -25px;
    
}

.navbar-right {
    font-size: 14px;  
}

.navbar-brand {
    width: 200px;
}

