
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<div class="quickFixMargin">
   @foreach (var p in @ViewBag.mod)
   {
       <p>@p</p>
   }
    <div>@ViewBag.tym</div>
    

    <div class="form-group" id="taskName">
        <label class="control-label">Nazwa tasku</label>
        
    </div>

    <div class="edit">
        <div class="progress" id="bars">

        </div>
    </div>
    <div class="row">
        <h3>Edycja czasów</h3>
        <div class="col-md-2">

            <div id="editTimes" class="form-group">
            </div>
        </div>
        <div class="col-md-2">
            <div id="textBoxes" class="form-group">

            </div>
        </div>
        <div class="col-md-2">
            <div id="accept" class="form-group">

            </div>
        </div>
    </div>
</div>


<script>
    
    function getName() {
        var input = document.createElement('input');
        input.className = "form-control";
        input.id = "focusedInput";
        input.placeholder = "tu pobrano z bazy";                    // WSTAWIĆ NAZWE Z BAZY
        document.getElementById('taskName').appendChild(input);
    }

    function buttonClick() {
        var target = event.target || event.srcElement;
        var id = target.id;
        var cut = id.substr(10);
        
        var inp = document.getElementById('editTextBox' + cut);        
        $(inp).css("visibility", "visible");

        var button = document.getElementById('acceptButton' + cut);
        $(button).css("visibility", "visible");

    }

    function acceptChange() {
        var target = event.target || event.srcElement;
        var id = target.id;
        document.getElementById(id).className = "btn btn-success";
        document.getElementById(id).innerHTML = "zapisano";
    }

    getName();


    var howManyTimes = 3; // this number will be taken from database
    var percents = ["25%", "35%", "40%"];                           // WSTAWIĆ DANE Z BAZY
    var times = ["1:05:41", "0:30:45", "1:54:12"];

    for (var i = 0; i < howManyTimes; i++) {
        var progressBar = document.createElement('div');

        if(i % 2 == 0)
            progressBar.className = "progress-bar progress-bar-warning";
        else
            progressBar.className = "progress-bar progress-bar-info";

        //progressBar.styleSheet = "width:" + percents[i];
        $(progressBar).css("width", percents[i]);

        var p = document.createElement('p');       
        p.innerHTML = times[i];
        progressBar.appendChild(p);

        document.getElementById("bars").appendChild(progressBar);


    }

    for (var i = 0; i <= howManyTimes; i++) {
        var button = document.createElement("button");

        if (i % 2 == 0)
            button.className = "btn btn-warning";
        else
            button.className = "btn btn-info";

        if (i == howManyTimes){
            button.innerHTML = "dodaj nowy odcinek czasu";
            button.className = "btn btn-danger";
        }
        else
            button.innerHTML = "edytuj czas " + i;

        $(button).css("margin", "10px 0px ");
        button.id = "editButton" + i;
        button.onclick = buttonClick;
        document.getElementById("editTimes").appendChild(button);
    }
    

    for (var i = 0; i < howManyTimes; i++) {
        var inp = document.createElement("input");
        inp.className = "form-control";
        inp.type = "text";
        inp.placeholder = "wpisz nowy czas";
        inp.id = "editTextBox" + i;
        $(inp).css("margin", "10px 0px 20px 0px ");
        $(inp).css("width", "100%");
        $(inp).css("visibility", "hidden");
        document.getElementById("textBoxes").appendChild(inp);

        var button = document.createElement('button');
        button.className = "btn btn-danger";
        button.innerHTML = "akceptuj";
        button.id = "acceptButton" + i;
        $(button).css("visibility", "hidden");
        $(button).css("margin", "10px 0px ");
        
        button.onclick = acceptChange;
        document.getElementById('accept').appendChild(button);

    }

    var counter = howManyTimes;
    $(document).ready(function () {               
        $("#editButton" + counter).click(function () {
            var newTextBox = document.createElement('input');
            newTextBox.className = "form-control";
            newTextBox.type = "text";
            newTextBox.placeholder = "wpisz nowy czas";
            newTextBox.id = "editTextBox" + counter;
            $(newTextBox).css("margin", "10px 0px 20px 0px ");
            document.getElementById("textBoxes").appendChild(newTextBox);

            
            var button = document.createElement("button");
            button.innerHTML = "wpisz czas ";
            button.className = "btn btn-success";
            button.id = "editButton" + counter;
            $(button).css("margin", "10px 0px ");            
            $(button).insertBefore($("#editButton" + howManyTimes));

            var buttonAccept = document.createElement('button');
            buttonAccept.innerHTML = "akceptuj";
            buttonAccept.className = "btn btn-danger";
            $(buttonAccept).css("margin", "10px 0px ");
            $(buttonAccept).css("visibility", "visible");
            buttonAccept.id = "acceptButton" + counter;
            buttonAccept.onclick = acceptChange;
            //$(buttonAccept).insertBefore($("#acceptButton" + howManyTimes));

            document.getElementById("accept").appendChild(buttonAccept);

            counter++;
        });
    });


</script>
