
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <title>Historia</title>
</head>
<body>
<div class="history">
    <div class="col-md-8 col-md-offset-2">
        <div class="lastActivities">
            <table>
                <tr>
                    <th></th>
                    <th>Czynność</th> 
                    <th>data</th>
                    <th>czas trwania</th>
                    <th>czas pracy</th>
                    <th>czas przerwy</th>
                </tr>
                <tr>
                    <td><img src="../../images/programming.png"/></td>
                    <td>programowanie</td> 
                    <td>15.05.2017</td>
                    <td>0:40:20</td>
                    <td>0:30:20</td>
                    <td>0:10:20</td>
                </tr>
                <tr>
                    <td><img src="../../images/Cafe.png" /></td>
                    <td>picie kawy</td>
                    <td>15.05.2017</td>
                    <td>0:10:20</td>
                    <td>0:10:20</td>
                    <td>0:00:00</td>
                </tr>
            </table>
            
        </div>
    </div>  

</div>
</body>
</html>